/Soccer App/13-UsingInterfaces_Practice3/build/
/New Folder/ShopApp/nbproject/private/
/New Folder/ShopApp/build/
/New Folder/HR Project/nbproject/private/
/New Folder/HR Project/build/
/Soccer App/13-UsingInterfaces_Practice3/dist/
/TextFilesToHashMap/HashMapProject/build/
/TextFilesToHashMap/HashMapProject/dist/
/TextFilesToHashMap/HashMapProject/nbproject/private/
